<!--
Name: Joshua Dusome
Date: 01/12/2016
Website: https://shopping-list-app-josh.herokuapp.com/
File: footer.ejs
Purpose: Footer.ejs is a shared footer that appears on all website pages. Loads our required JavaScripts. Closes body and html.
-->

<!-- shared footer -->
<footer class="navbar navbar-fixed-bottom footercolour">
  <p class="text-center ffont">&copy; 2016 | Joshua Dusome</p>
</footer>

<!-- JS, jQuery must be loaded first! -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<!-- CDN for DataTables most recent Jquery -->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/scripts.js"></script>

<!-- ends our body and html document -->
</body>
</html>
