<!--
Name: Joshua Dusome
Date: 01/12/2016
Website: https://shopping-list-app-josh.herokuapp.com/
File: error.ejs
Purpose: Error.ejs is our view that displays error information.
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
