<!--
Name: Joshua Dusome
Date: 01/12/2016
Website: https://shopping-list-app-josh.herokuapp.com/
File: register.ejs
Purpose: Register.ejs is our view that allows a user to register a new account.
-->

<!-- Include shared header -->
<% include partials/header.ejs %>

<main class="row removescroll">

    <!-- Creates a column 4/12 wide on the left side -->
    <div class="col-md-4">

    </div>

    <!-- Creates a column 4/12 wide in the middle -->
    <div class="col-md-4 toppadding jumbotron loginbox">

        <h1 class="text-center logregmargin"><%= title %></h1>

        <!-- Display register form -->
        <form method="post" id="registrationForm">
            <div class="form-group">
                <label for="username" class="col-sm-2 col-sm-offset-3 control-label">Username:</label>
                <input name="username" id="username" required />
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 col-sm-offset-3 control-label">Password:</label>
                <input name="password" id="password" type="password" required />
            </div>
            <div class="form-group">
                <label for="confirm" class="col-sm-2 col-sm-offset-3 control-label">Confirm:</label>
                <input name="confirm" id="confirm" type="password" required />
            </div>
            <div class="btn-group col-sm-offset-5 col-lg-4">
                <button class="btn btn-success">Register</button>
                <a href="/login" title="Login">
                <button class="btn btn-info" type="button">Login</button>
                </a>
            </div>
        </form>
    </div>

    <!-- Creates a column 4/12 wide on the right side -->
    <div class="col-md-4">

    </div>
    </main>

<!-- Include shared footer -->
<% include partials/footer.ejs %>